* {
	box-sizing: inherit;
}

html {
	font-size: 87.5%; //14px
}

body {
	box-sizing: border-box;
	background-color: antiquewhite;
}

.note {
	width: 300px;
	margin: 20px auto;
	background-image: linear-gradient(lighten(#BF8526, 15%), lighten(#BF8526, 10%));
	background-color: lighten(gray, 40%);
	padding: .7rem;
	border-radius: .5rem;
}

.note__header {
	background-color: darken(orangered, 15%);
	border-radius: .5rem;
	padding: .1rem;
	margin-bottom: 1rem;
	box-shadow: .3rem .2rem 1.1rem lighten(black, 18%);

	h1 {
		font-size: 2.5rem;
		font-weight: 400;
		font-family: cursive;
		color: white;
	}
}

.note__field {
	width: 250px;
	;
	margin: 0 auto;

	#note__input {
		padding: .8rem 1rem;
		border: none;

		&:focus {
			outline: none;
			border: 3px inset white;
			background-color: lighten(lightblue, 15%);
		}
	}

	.submit {
		text-align: center;

		button[type="submit"] {
			background-color: orange;
			color: white;
			border: none;
			border-radius: .2rem;
			padding: .4rem .6rem;
			transition: all .2s ease;
			font-size: 1.1rem;

			&:hover {
				background-color: lighten(orange, 5%);
			}

			&:active {
				transform: scale(1.1);
				font-weight: 400;
			}

			&:focus {
				outline: none;
			}
		}
	}
}

.note__container {
	width: 90%;
	margin: 0 auto;
}

.note__box {
	width: 100%;

	&-header {
		text-align: center;
		color: white;
		background-color: lighten(darkred, 42%);
		padding: 0.4rem 1.25rem;
		border-bottom: 2px inset darkred;
	}

	&-items {
		border-radius: .3rem;
		background-color: white;
		border: 3px groove white;
		position: relative;
		margin-bottom: 10px;
	}
}

.list {
	color: lighten(black, 20%);
	font-weight: 500;
	padding: 0.75rem .5rem;
	display: block;
	background: transparent;
	margin-bottom: -1px;
}

input[type="checkbox"] {
	visibility: hidden;
	opacity: 0;

	&:checked ~ label .checkbox-icon .vertical {
		transition: all .4s ease;
		visibility: visible;
		opacity: 1;
	}

	&:checked ~ label .checkbox-icon .diagonal {
		visibility: visible;
		opacity: 1;
	}
}

label {
	width: 1.3rem;
	height: 1.3rem;
	padding: .4rem;
	border: 2px solid orange;
	border-radius: .3rem;
	position: absolute;

	.checkbox-icon {
		position: absolute;
		top: -1px;
		left: -.2px;
		transform: rotate(-2deg);
		transition: all 5s ease;
	}

	.vertical {
		background-color: black;
		width: .5rem;
		height: .21rem;
		position: absolute;
		top: 9px;
		left: 1px;
		transform: rotate(40deg);
		border-radius: 2px;
		visibility: hidden;
		opacity: 0;
	}

	.diagonal {
		background: black;
		width: .75rem;
		height: .21rem;
		position: absolute;
		top: 8px;
		left: 4px;
		transform: rotate(-50deg);
		border-radius: 2px;
		visibility: hidden;
		opacity: 0;
	}
}

.remove {
	color: white;
	text-align: right;
	margin-left: 3px;
	font-size: .8rem;
	transition: font-size .2s ease;

	&:active {
		font-size: 1rem;
	}
}

p {
	margin-left: 8px;
	width: 80%;
	font-size: 1.1rem;
	text-transform: uppercase;
}

.checked {
	text-decoration: line-through;
	text-decoration-color: red;
	opacity: .8;
	font-size: 1rem;
}

.list-container {
	padding: 0 .5rem;
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.bg-colors {
	display: flex;
	justify-content: center;
	
	.white,
.lightblue,
.lightgreen,
.lightpurple{
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	
	&:not(:last-child){
		margin-right: 5px;
	}
};
	
	.white {
		background-color: white;
	}
	
	.lightblue{
		background-color: lighten(lightblue, 5%);
	}
	
	.lightgreen{
		background-color: lighten(green ,55%);
	}
	
	.lightpurple{
		background-color: lighten(purple,60%);
	}
}


